/* About google map RWD start */
@media (max-width: 700px) {
    #about-map {
        display: none;
    }
}

@media (min-width: 700px) {
    #about-map-mobile {
        display: none;
    }
}

@media (max-width: 470px) {
    #about-map-mobile {
        display: none;
    }
}

@media (min-width: 470px) {
    #about-map-mobile-sm {
        display: none;
    }
}

@media (max-width: 435px) {
    #about-map-mobile-sm {
        display: none;
    }
}

@media (min-width: 435px) {
    #about-map-mobile-sm-m {
        display: none;
    }
}

/* About google map RWD end */

/* mouse cursor start */
* {
    cursor: url("https://cdn.jsdelivr.net/gh/tszhong0411/image/Bongo_Cat_Cursor.cur"), auto !important;
}

:active {
    cursor: url("https://cdn.jsdelivr.net/gh/tszhong0411/image/Bongo_Cat_Cursor.cur"), auto !important;
}

a:hover {
    cursor: url("https://cdn.jsdelivr.net/gh/tszhong0411/image/Bongo_Cat_Pointer.cur"), auto !important;
}

/* mouse cursor end */

/* Archives icon start */
svg.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/* Archives icon end */

/* iconfont */
.icon {
    width: 1em;
    height: 1em;
    /* width和height定义图标的默认宽度和高度*/
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

/* iconfont end */

/* Gradient background and Transparent Footer start */
#web_bg {
    background-image: url(https://cdn.jsdelivr.net/gh/tszhong0411/image/background-2.0.gif);
}

#footer {
    background: none;
    backdrop-filter: blur(5px);
}

#page-header {
    background: none;
}

/* Gradient background and Transparent Footer end */

/* POST copyright custom style start */
[data-theme="dark"] #post .post-copyright {
    background-color: rgb(7 8 10);
    text-shadow: #bfbeb8 1px 0 4px;
}

[data-theme="dark"] #post .post-copyright {
    border: 1px solid rgb(19 18 18 / 35%);
}

[data-theme="dark"] .post-copyright-info {
    color: #e0e0e4;
}

#post .post-copyright__title {
    font-size: 22px;
}

#post .post-copyright__notice {
    font-size: 15px;
}

/* POST copyright custom style end */


/* Pagination background start (Original theme haven't it)  */
.page-number {
    background: #252525;
}

/* Pagination background end */

/* glitch title start */
#site-title {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#site-title::before,
h1.post-title::before {
    left: -1px;
    text-shadow: 4px 0 #ff3f1a;
    -webkit-animation: glitch-loop-1 .8s infinite ease-in-out alternate-reverse;
    -moz-animation: glitch-loop-1 .8s infinite ease-in-out alternate-reverse;
    -o-animation: glitch-loop-1 .8s infinite ease-in-out alternate-reverse;
    -ms-animation: glitch-loop-1 .8s infinite ease-in-out alternate-reverse;
    animation: glitch-loop-1 .8s infinite ease-in-out alternate-reverse;
}

#site-title::after,
h1.post-title::after {
    left: 1px;
    text-shadow: -5px 0 #00a7e0;
    -webkit-animation: glitch-loop-2 .8s infinite ease-in-out alternate-reverse;
    -moz-animation: glitch-loop-2 .8s infinite ease-in-out alternate-reverse;
    -o-animation: glitch-loop-2 .8s infinite ease-in-out alternate-reverse;
    -ms-animation: glitch-loop-2 .8s infinite ease-in-out alternate-reverse;
    animation: glitch-loop-2 .8s infinite ease-in-out alternate-reverse;
}

#site-title::after,
#site-title::before,
h1.post-title::after,
h1.post-title::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    clip: rect(0, 0, 0, 0)
}

@-moz-keyframes glitch-loop-1 {
    0% {
        clip: rect(0, 9999px, -.07em, 0)
    }

    25% {
        clip: rect(-.1em, 9999px, 1.2em, 0)
    }

    50% {
        clip: rect(.36em, 9999px, 1.22em, 0)
    }

    75% {
        clip: rect(-.05, 9999px, 1.18em, 0)
    }

    100% {
        clip: rect(1.18em, 9999px, 1.19em, 0)
    }
}

@-webkit-keyframes glitch-loop-1 {
    0% {
        clip: rect(0, 9999px, -.07em, 0)
    }

    25% {
        clip: rect(-.1em, 9999px, 1.2em, 0)
    }

    50% {
        clip: rect(.36em, 9999px, 1.22em, 0)
    }

    75% {
        clip: rect(-.05, 9999px, 1.18em, 0)
    }

    100% {
        clip: rect(1.18em, 9999px, 1.19em, 0)
    }
}

@-o-keyframes glitch-loop-1 {
    0% {
        clip: rect(0, 9999px, -.07em, 0)
    }

    25% {
        clip: rect(-.1em, 9999px, 1.2em, 0)
    }

    50% {
        clip: rect(.36em, 9999px, 1.22em, 0)
    }

    75% {
        clip: rect(-.05, 9999px, 1.18em, 0)
    }

    100% {
        clip: rect(1.18em, 9999px, 1.19em, 0)
    }
}

@keyframes glitch-loop-1 {
    0% {
        clip: rect(0, 9999px, -.07em, 0)
    }

    25% {
        clip: rect(-.1em, 9999px, 1.2em, 0)
    }

    50% {
        clip: rect(.36em, 9999px, 1.22em, 0)
    }

    75% {
        clip: rect(-.05, 9999px, 1.18em, 0)
    }

    100% {
        clip: rect(1.18em, 9999px, 1.19em, 0)
    }
}

@-moz-keyframes glitch-loop-2 {
    0% {
        top: -1px;
        left: 1px;
        clip: rect(.6em, 9999px, 1.35em, 0)
    }

    25% {
        top: -6px;
        left: 4px;
        clip: rect(.8em, 9999px, -.1em, 0)
    }

    50% {
        top: -3px;
        left: 2px;
        clip: rect(.63em, 9999px, -.15em, 0)
    }

    75% {
        top: 0;
        left: -4px;
        clip: rect(1.18em, 9999px, .45em, 0)
    }

    100% {
        top: -1px;
        left: -1px;
        clip: rect(-.03em, 9999px, 1.5em, 0)
    }
}

@-webkit-keyframes glitch-loop-2 {
    0% {
        top: -1px;
        left: 1px;
        clip: rect(.6em, 9999px, 1.35em, 0)
    }

    25% {
        top: -6px;
        left: 4px;
        clip: rect(.8em, 9999px, -.1em, 0)
    }

    50% {
        top: -3px;
        left: 2px;
        clip: rect(.63em, 9999px, -.15em, 0)
    }

    75% {
        top: 0;
        left: -4px;
        clip: rect(1.18em, 9999px, .45em, 0)
    }

    100% {
        top: -1px;
        left: -1px;
        clip: rect(-.03em, 9999px, 1.5em, 0)
    }
}

@-o-keyframes glitch-loop-2 {
    0% {
        top: -1px;
        left: 1px;
        clip: rect(.6em, 9999px, 1.35em, 0)
    }

    25% {
        top: -6px;
        left: 4px;
        clip: rect(.8em, 9999px, -.1em, 0)
    }

    50% {
        top: -3px;
        left: 2px;
        clip: rect(.63em, 9999px, -.15em, 0)
    }

    75% {
        top: 0;
        left: -4px;
        clip: rect(1.18em, 9999px, .45em, 0)
    }

    100% {
        top: -1px;
        left: -1px;
        clip: rect(-.03em, 9999px, 1.5em, 0)
    }
}

@keyframes glitch-loop-2 {
    0% {
        top: -1px;
        left: 1px;
        clip: rect(.6em, 9999px, 1.35em, 0)
    }

    25% {
        top: -6px;
        left: 4px;
        clip: rect(.8em, 9999px, -.1em, 0)
    }

    50% {
        top: -3px;
        left: 2px;
        clip: rect(.63em, 9999px, -.15em, 0)
    }

    75% {
        top: 0;
        left: -4px;
        clip: rect(1.18em, 9999px, .45em, 0)
    }

    100% {
        top: -1px;
        left: -1px;
        clip: rect(-.03em, 9999px, 1.5em, 0)
    }
}

/* end glitch title */

/* remove post cover */
#page-header {
    background-image: none !important;
}

/* end remove post cover */


/* banner start dark */
[data-theme='dark'] #web_bg:before,
[data-theme='dark'] #footer:before,
[data-theme='dark'] #page-header:before {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

/* banner dark end */

/* Card opacity */
div#post {
    opacity: 0.9;
}

div#page {
    opacity: 0.9;
}

div#archive {
    opacity: 0.9;
}

div#tag {
    opacity: 0.9;
}

div#category {
    opacity: 0.9;
}

.card-widget {
    opacity: 0.9;
}

.recent-post-item {
    opacity: 0.9;
}

.menus_item_child {
    opacity: 0.9;
}

#error-wrap .error-content {
    opacity: 0.9;
}

/* 自定義字體 */
@font-face {
    font-family: LXGWWenKai-Medium;
    src: url(/font/LXGWWenKai-Medium.ttf);
}

/* 設定欄默認打開 */
#rightside-config-hide {
    transform: translate(0, 0) !important;
}

#rightside #rightside-config-hide.show {
    transform: translate(38px, 0) !important;
}


/* 日曆 */
#calendar a {
    text-decoration: none;
}

.cal-head {
    position: relative;
    height: 20px;
    padding: 8px 6px 2px 6px;
    margin-bottom: 15px;
}

.cal-prev,
.cal-next {
    position: absolute;
    top: 9px;
    width: 9px;
    height: 10px;
    padding: 3px 4px;
    border: 1px solid transparent;
    color: #333;
    outline: 0;
}

.cal-prev {
    left: 8px;
}

.cal-prev:before {
    border-right: 9px solid #333;
}

.cal-next {
    right: 8px;
}

.cal-next:before {
    border-left: 9px solid #333;
}

.cal-prev:before,
.cal-next:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.cal-title {
    width: 120px;
    margin: 0 auto;
    color: #333;
    font: bold 14px/18px Arial;
    text-align: center;
}

.cal-title a {
    border: 1px solid transparent;
    color: #f76b61;
}

.cal,
.cal th,
.cal td {
    border: none;
}

.cal {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
    margin: 0;
}

.cal th {
    background: #fff;
    color: #000;
    font-weight: 900 !important;
}

[data-theme="dark"] .cal th {
    background: #0c0c0c;
    color: #fff;
}

.cal tbody a {
    background-color: #f76b61;
    color: #fff;
    display: block;
    font-weight: 700;
    border: 1px solid #fff;
}

[data-theme="dark"] .cal tbody a {
    border: 1px solid #060606;
}

.cal tbody .cal-today {
    background-color: #2f2f2f;
    color: #ffffff;
}

[data-theme="dark"] .cal tbody .cal-today {
    background-color: #ffffff;
    color: #000000;
}

.cal .cal-gray {
    color: #ddd;
}

.cal th,
.cal td {
    font-weight: normal;
    line-height: 2.5625;
    padding: 0;
    text-align: center;
}

.cal-title a:hover,
.cal-prev:hover,
.cal-next:hover,
.cal .cal-foot:hover,
.cal .cal-foot:focus {
    cursor: pointer;
    background-color: transparent;
    cursor: pointer;
    color: #42d3d8;
}

.cal tbody a:hover,
.cal tbody a:focus {
    background-color: #ffdfdd;
    color: #fff;
    cursor: pointer;
}